@model IssueTracker.Domain.ViewModels.Issue.IssueViewModel

@* <div> *@
@*     <h3>Title: @Model.Title</h3> *@
@*     <p>Description: @Model.Description</p> *@
@*     <p>Priority: @Model.Priority</p> *@
@*     <p>Status: @Model.Status</p> *@
@*     <p>Tags: @string.Join(", ", Model.Tags)</p> *@
@*     <p>Assignees: @string.Join(", ", Model.Assignees.Select(x => x.FirstName + " " + x.LastName))</p> *@
@*     <p>Comments: @string.Join(", ", Model.Comments)</p> *@
@*     <p>Created: @Model.Created.ToString("MM/dd/yyyy")</p> *@
@* </div> *@