@using System.Text.RegularExpressions
@using System.Text.Json
@using System.Net.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IssueTracker.Domain.ViewModels.Issue
@using IssueTracker.Domain.Response
@using System.Text
@model IssueTracker.Domain.ViewModels.Issue.IssueViewModel

<style>
p{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
</style>
<div class="container">
    <div class="issue-header">
        <h1 class="issue-title">@Model.Title</h1>
        <button class="close-modal">&times;</button>
        <div class="issue-meta">
            <div class="issue-meta-item">
                <span class="issue-meta-label">State: @Model.Status</span>
            </div>
            <div class="issue-meta-item">
                <span class="issue-meta-label">
                    Labels: @string.Join(", ",
                                Model.Tags)
                </span>
            </div>
            <div class="issue-meta-item">
                <span class="issue-meta-label">Created: @Model.Created</span>
            </div>
        </div>
    </div>
    <div class="issue-body">
        <p>@Model.Description</p>
    </div>
    <div class="issue-comments">
        @foreach (var comment in Model.Comments){
            <div class="issue-comment">
                <p>@comment</p>
            </div>
        }
    </div>
    <form action="#"
          id="commentForm">
        <input id="issueId"
               type="hidden"
               value="@Model.Id">
        <div class="form-group">
            <label for="commentInput">Add a comment:</label>
            <input class="form-control"
                   id="commentInput"
                   placeholder="Enter your comment"
                   type="text">
        </div>
        <button id="addComment">
            Add Comment
        </button>
    </form>
</div>
<script src="~/js/issueDetails.js"></script>